


<nav class="navbar">
  <div class="container">
    <div class="navbar-container">
      <a class="navbar-brand" href="/">Typora</a>
      
      <button class="mobile-menu-btn" onclick="toggleMobileMenu()">
        <span></span>
        <span></span>
        <span></span>
      </button>

      <ul class="nav-links" id="navLinks">
        <li><a class="nav-link" href="/">Home</a></li>
        
        <% if (user) { %>
          <li><a class="nav-link" href="/blog/add-new">Create Post</a></li>
          <li class="dropdown">
            <div class="dropdown-toggle">
              <%= user.email %>
            </div>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
            </ul>
          </li>
        <% } else { %>
          <li><a class="btn btn-secondary" href="/user/signin">Sign In</a></li>
          <li><a class="btn btn-primary" href="/user/signup">Get Started</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>

<% if(locals.error) { %>
  <div class="container">
    <div class="alert alert-danger"><%= locals.error %></div>
  </div>
<% } %>

<script>
  function toggleMobileMenu() {
    const navLinks = document.getElementById('navLinks');
    navLinks.classList.toggle('active');
  }
</script>